include layout

block content
    main
        h1 Welcome to LingoStacks
        p This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service.
        a(href="/flashcards")
            button View Flashcards
        a(href="/flashcards/new")
            button Create New Flashcard
