include layout

block content
    h1 Welcome to the Language Learning App
    p This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service.
    a(href="/flashcards") View Flashcards
    a(href="/flashcards/new") Create New Flashcard
