doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title LingoStacks
        link(rel="stylesheet", href="/public/styles/styles.css")
    body
        header#main-header
            h1#app-title LingoStacks
            nav#main-nav
                ul.nav-list
                    li.nav-item: a.nav-link(href="/") Home
                    li.nav-item: a.nav-link(href="/flashcards") Flashcards
        main#content
            block content
        footer#main-footer

